body{
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: rgb(84, 147, 189); 
    overflow: hidden;
    margin: 0;
  }
  
  .navbar li {
    display: block; 
  }

  .navbar a{
    float: left; 
    display: block; 
    color: white; 
    text-align: center;
    padding: 10px 10px; 
    text-decoration: none; 
  }
  
  .navbar a:hover {
    color: rgb(0, 117, 201);
    background-color: rgb(227, 224, 222); 
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(84, 147, 189); 
  color: white;
  text-align: center;
}

.footer-text{
  text-align: center;
  color: white
}

h3{
    color: rgb(0, 117, 201);
    text-align: center;
    font-size: 36px;
}

.login-container {
    width: 300px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(227, 224, 222);
    align-items: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
    button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 117, 201);
    color: #fff;
    cursor: pointer;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: rgb(84, 147, 189);
  }
  
table {
    width: 100%;
    border-collapse: collapse;
  }

  tr {
    background-color: #f8f9fa; 
  }
  
  tr:nth-child(odd) {
    background-color: rgb(227, 224, 222); 
  }
  
  td, th {
    border: 1px solid rgba(91, 91, 91, 0.425); 
    padding: 8px; 
    text-align: left; 
  }

  .add-button{
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 117, 201);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }

  .delete-btn{
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(203, 51, 59);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
  }

  .card-container {
    display: flex;
    justify-content: space-between; 
  }
  
  .card {
    flex: 1; 
    border: 2px solid rgb(0, 117, 201);
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px; 
    transition: box-shadow 0.3s ease; 
    }

    .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    }
  

  h5{
    color: rgb(0, 117, 201);
    text-align: center;
    font-size: 26px;
  }

  p{
    font-size: 20px;
    text-align: justify;
  }

  img{
    height: auto;
    width: 500px;

  }

  .payout{
    font-size: 28px;
    text-align: center;
  }

  .premium{
    font-size: 20px;
  }

  .length{
    font-size: 20px;
  }

  .description{
    font-size: 16px;
    font-style: italic;
    color: grey;
  }

  .payout_description{
    font-size: 16px;
    font-style: italic;
    color: grey;
    text-align: center;
  }

  h6{
    color: rgb(0, 117, 201);
    text-align: center;
    font-weight: bold;
  }

  h4{
    font-size: 14px;
    font-weight: bold;
  }

  .welcome-message{
    font-size: 16px;
    color: grey;
    text-align: center;
  }

  input{
    text-align: center;
  }