body{
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px
}

.landing{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page {
  background-image: url('life.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.background-card{
  background-color: rgba(255, 255, 255, 0.742);
  padding: 10px;
  border-radius: 10px;
}

.welcome{
  font-size: 16px;
  font-style: italic;
}

.logo{
  height:150px;
  width:auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.nav-style {
    background-color: rgb(84, 147, 189); 
    overflow: hidden;
    margin: 0;
    margin-bottom: 30px;
  }
  
  .nav-style li {
    display: block; 
  }

  .nav-style a{
    float: left; 
    display: block; 
    color: white; 
    text-align: center;
    padding: 10px 10px; 
    text-decoration: none; 
  }
  
  .nav-style a:hover {
    color: rgb(0, 117, 201);
    background-color: rgb(227, 224, 222); 
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(84, 147, 189); 
  color: white;
  text-align: center;
}

.footer-text{
  text-align: center;
  color: white
}

h3{
    color: rgb(0, 117, 201);
    text-align: center;
    font-size: 36px;
}

.login-container {
    width: 300px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(227, 224, 222);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    
  }
  
table {
    width: 100%;
    border-collapse: collapse;
  }

  tr {
    background-color: #f8f9fa; 
  }
  
  tr:nth-child(odd) {
    background-color: rgb(227, 224, 222); 
  }
  
  td, th {
    border: 1px solid rgba(91, 91, 91, 0.425); 
    padding: 8px; 
    text-align: left; 
  }

  .add-button{
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 117, 201);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }

  .return-button{
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 117, 201);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
  }

  .delete-btn{
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(203, 51, 59);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
  }
  
  .card {
    flex: 1; 
    border: 2px solid rgb(0, 117, 201);
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px; 
    transition: box-shadow 0.3s ease; 
    }

    .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    }
  

  h5{
    color: rgb(0, 117, 201);
    text-align: center;
    font-size: 26px;
  }

  p{
    font-size: 20px;
    text-align: justify;
  }

  img{
    height: auto;
    width: auto;

  }

  .payout{
    font-size: 28px;
    text-align: center;
    color: rgb(0, 117, 201)
  }

  .premium{
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: grey;
  }

  .length{
    font-size: 20px;
  }

  .description{
    font-size: 16px;
    font-style: italic;
    color: grey;
  }

  .payout_description{
    font-size: 16px;
    font-style: italic;
    color: grey;
    text-align: center;
  }

  h6{
    color: rgb(0, 117, 201);
    font-weight: bold;
  }

  h4{
    font-size: 14px;
    font-weight: bold;
  }

  .welcome-message{
    font-size: 16px;
    color: grey;
    text-align: center;
  }

  .btn-div{
    text-align: center;
    justify-content: center;
  }

  .btn-message{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .stats-message{
    font-size: 20px;
    color: grey;
    text-align: center;
    margin-top: 10px;
  }

  .stats-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
  }

.stats-card{
  border: 3px solid;
  border-radius: 10px;
  border-color: rgb(0, 117, 201);
  padding: 10px;
  justify-content: center;
  align-self: center;
}

.add-customer-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.add-customer-form input[type="text"],
.add-customer-form select,
.add-customer-form input[type="date"],
.add-customer-form input[type="number"],
.add-customer-form textarea {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
}

.btn-status-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.claim-text{
  text-align: center;
}

.claim-p{
  color:rgb(0, 117, 201);
  font-weight: bold;
}

.claim-nb-text{
  color: rgb(0, 117, 201);
  font-weight: bold;
  font-size: 24px;
}

.btn-center {
  display: inline;
}

.btn-center form {
  display: inline;
  margin-right: 5px;  /* Adjust as needed for spacing between buttons */
}

.form-btn{
  text-align: center;
  justify-content: center;
}