{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h3>Add New Customer</h3>

    <form class="add-customer-form"
    action="{{url_for('customers.customer_management')}}"
    method="POST">
        <h6>Customer name</h6>
        <input name="name" type="text" />
        <h6>Customer Email</h6>
        <input name="email" type="text" />
        <h6>Policy</h6>
        <select name="policyID">
            {% for policy in policies %}
            <option value="{{policy.policyID}}">{{policy.name}}</option>
            {% endfor %}
        </select>
        <h6>Starting Date</h6>
        <input name="startDate" type="date" /> 
        <button type="submit">Add Customer</button>
    </form>
</div>
{% endblock %}