{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h3>Claims Calculator</h3>
    <form class="claims-form"
    action="{{url_for('claims_page')}}"
    method="POST">
        <label for="customers">Select a customer:</label>
        <select name="customers">
            {% for customer in customers %}
                <option>{{ customer.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Continue</button>
    </form>
</div>
{% endblock %}