<!DOCTYPE html>
<html lang="en" class="landing">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPMS</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="landing-page">
    <img src="https://logodix.com/logo/1625333.jpg" class="logo"/>
<div class="background-card">
    <h3>Insurance Policy Management System</h3>
</div>
    <p class="welcome">Please navigate to the login page to begin</p>
    <button onclick="window.location.href='/login'" class="btn btn-primary">Login</button>
</body>
</html>