{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h3>Policies</h3>
    <div class="card-container">
    {% for policy in policies %}
    <div class="card">
            <h5>{{policy.name}}</h5>
            <p class="payout">R{{policy.payout}}</p>
            <p class="premium">R{{policy.premium}} per month</p>
            <p class="length">{{policy.length}} years</p>
            <p class="description">{{policy.description}}</p>
            
    </div>
    {% endfor %}
</div>

</div>
{% endblock %}