{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h3>Policies</h3>
    <div class="card-container">
    <div class="card">
            <h5>Vehicle</h5>
            <p>Vehicle insurance provides you financial protection against damages, theft, or liability related to operating a vehicle.
                Costs vary based on factors like coverage type, vehicle value, driver history, and location.
            </p>
    </div>

    <div class="card">
            <h5>Property</h5>
            <p>
                Property insurance safeguards real estate against damages from various perils like fire, theft, and natural disasters, including liability coverage. 
                Costs vary based on property value, location, coverage type, and deductible, ranging from hundreds to thousands annually.
            </p>
    </div>

    <div class="card">
            <h5>Life insurance</h5>
            <p>
                Life insurance provides a lump-sum payment to beneficiaries upon the policyholder's death. 
                Costs depend on factors like age, health, coverage amount, and policy type, varying from low monthly payments to higher premiums.
            </p>
    </div>
</div>

</div>
{% endblock %}