{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h3>Policies</h3>
    <button class="add-button" onclick="window.location.href='/add_policy'">Add Policy</button>
    <div class="card-container">
    {% for policy in policies %}
    <div class="card">
            <h5>{{policy.name}}</h5>
            <img src="{{policy.image}}" name="image"/>
            <p class="payout_description"><span class="payout">R{{policy.payout}}</span> minimum in payout</p>
            <p class="premium">R{{policy.premium}} per month</p>
            <p class="description">{{policy.description}}</p>
            
            <form method="post" action="{{ url_for('policies.delete_policy', policyID=policy.policyID) }}" onsubmit="return confirm('Are you sure you want to delete this policy?');">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
    </div>
    {% endfor %}
</div>

</div>
{% endblock %}